form{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 label{
    margin: 10px 0;
 }
 input textarea{
     margin: 5px 0;
     padding: 5px;
     width: 300px;
 }
 
 button{
     padding:  8px;
     background-color: aliceblue;
     color: bisque;
     border: none;
     cursor: grabbing;
 
 }
 
 button:hover{
     background-color: brown;
 }