body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    background-color: black;
    color: yellow;


}

header {
    background-color: rgb(94, 13, 13)  ;
    padding: 5px;
    

}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(197, 135, 18);
    padding: 20px;
    
}

nav a {

    color: yellowgreen;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {

    color: orange;
    text-decoration: underline;
    cursor: crosshair;

}

section {
    margin: 20px 0;
    color: rgb(from color r g b);
}

footer {
    background-color: white;
    color: grey;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;

}